*{
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    max-width: 100%;
    font-weight: normal;
}
html{
    scroll-behavior: smooth;
}
.container{
    width: 1190px;
    height: 100%;
    margin: 0 auto;
}
.header{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;  
    align-items: center;
}
.logo{
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}
.logo img{
    margin: 0 auto;
    width: 30%;
}
.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menu ul li{
    display: inline-block;
    padding: 20px;
}
.menu ul li a{
    text-decoration: none;
    color: #313131;
    font-weight: bold;
    transition: all .5s;
    font-weight: normal;
}
.menu ul li a:hover{
    color: #9400d3;
}
.btn-text{
    background: transparent;
    width: 170px;
    height: 35px;
    border-radius: 30px;
    padding: 10px;
    border: 1px solid #313131;
    outline: none;
}
::-webkit-input-placeholder{
    color: #313131;
}


@media screen and (max-width: 1190px){
    .logo{
        margin: 0 auto;
        margin-top: 5px;
    }
    .menu{
        display: none;
    }
    .one, .two{
        background: #313131;
        height: 2px;
        width: 44%;
        margin: 4px auto;
        border-radius: 30px;
        transition: .3s ease;
    }
    .one{
        margin-top: 15px;
    }
    .two{
        margin-top: 0px;
    }
    .menu-toggle{
        width: 40px;
        height: 40px;
        margin: 0 auto;
        border-radius: 50%;
        top: 5px;
        margin-top: 2px;
        position: fixed;
        right: 15px;
        cursor: pointer;
        transition: .5s ease;
    }
    .menu-section.on{
        position: absolute;
        top: -120px;
        left: 0;
        width: 60vw;
        height: 100vh;
        background: #313131;
    }
    .menu ul li a{
        color: #fff;
    }
    .menu-section.on .menu{
        display: block;
    }
    .menu-section.on .menu-toggle .one{
        transform: rotate(45deg) translate(7px, 7.5px);
        margin-top: 9px;
    }
    .menu-section.on .menu-toggle .two{
        transform: rotate(-45deg) translate(-3.5px, 2.5px);
    }
    .menu-section.on nav ul{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .menu-section.on nav ul li a{
        line-height: 2rem;
    }
    .btn-text{
        margin-top: 20px;
        width: 250px;
        border: 1px solid #fff;
    }
    .btn-button{
        margin: 0 auto;
        width: 200px;
        border: 1px solid #fff;
    }
    .btn-button2{
        margin: 0 auto;
        width: 120px;
        border: 1px solid #fff;
    }
    .menu ul li a:hover{
        color: #c9c9c9;
    }
    .btn-text, ::-webkit-input-placeholder{
        color: #fff;
    }
    .btn-button{
        margin-top: 20px;
    }
    .btn-button2{
        margin-top: 40px;
    }
    .menu-section.on{
        margin-top: 180px;
        margin-left: 30px;
    }
    .menu-section.on{
        margin-left: -30px;
    } 
}